.mainpage{
    width: 90%;
    height: 100vh;
    margin: auto;
}

.mainpage h1{
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

article{
    border: 1px #e5e5e5 solid;
    margin-right: -0.25em;
    
}

article h2 a{
    color:#000;
}

article .article-desc{
    color: #777;
}

.blogcard .outline{
    padding-top:0;
}

